.cityscape {
  height: 100vh;
  background-image:url('../../images/login/layer_0_New.jpg');
  background-attachment:local;
  background-repeat: round;
  background-size: contain;
  z-index: 1;
}

.building {
  height: 100vh;
  background-image:url('../../images/login/Layer-1.png');
  background-attachment:scroll;
  background-repeat: round;
  background-size: contain;
  z-index: 1000;
} 

.building-animate {
  animation: movebuilding 5s infinite;
  animation-direction: alternate;
}

@keyframes movebuilding {
  from {left: 0;}
  to {left: 1000px;}
}

.clouds {
  background-image:url('../../images/login/White_Clouds_PNG_Clipart-882 (2).png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 200px;
  z-index: 10000;
}

.overlay {
  background-color: #6f91ff31;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 100000;
}
